<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" href="../static//dist/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8">
    <title>Title</title>
    <script>
    $(document).ready(function() {
    var $submit = $('input[type="submit"]');
    $submit.prop('disabled', true);
    $('input[type="text"]').on('input change', function() {
        $submit.prop('disabled', !$(this).val().length);
    });
});
    </script>
</head>
<body>
<div class="container">
<div th:text="${name} + '!!!'"></div>
<div th:text="'ID :' + ${ID} "></div>
<div>
    <a href="http://localhost:8082/add/">註冊</a>
</div>
<div>
    <a href="http://localhost:8082/login/">Login</a>
</div>


    <div class="panel-body"><a  href="http://localhost:8082/upload/" class="btn btn-primary">Upload</a></div>
</div>

<div class="container">
    <div>Text<input type="text" ></div>
    <div class="panel-body"><input type="submit" value="this is submit" id= "submitBtn" ></div>

</div>







<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"  src="../static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" src="../static/dist/js/sb-admin-2.js"></script>


</body>
</html>