<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- MetisMenu CSS -->
    <link th:href="@{/vendor/metisMenu/metisMenu.min.css}" href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link th:href="@{/dist/css/sb-admin-2.css}" href="../static//dist/css/sb-admin-2.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <meta charset="UTF-8">
    <title>uploadFile</title>

    <script type="text/javascript" src="../vendor/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="../js/main.js"></script>

    <!--preview script-->
    <script>
            function readURL(input){
              if(input.files && input.files[0]){
                var imageTagID = input.getAttribute("targetID");
                var reader = new FileReader();
                reader.onload = function (e) {
                   var img = document.getElementById(imageTagID);
                   img.setAttribute("src", e.target.result)
                }
                reader.readAsDataURL(input.files[0]);
               document.getElementById("picpre").style.display = '';
              }
            }
    </script>
    <script>
        function myFunction() {
          document.getElementById("preview_img").setAttribute("src", "");
          document.getElementById("picpre").style.display = 'none';
        }
    </script>
    <!-- no pic display none-->
    <script>
        function displayFunction() {
          document.getElementById("picpre").style.display = 'none';
        }
    </script>
</head>
<body>
<div class="container">
<h1>Spring Boot - Multiple file upload example</h1>

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">

    <input type="file" name="files" onchange="readURL(this)" targetID="preview_img" accept="image/gif, image/jpeg, image/png"/><br/>
    <pre id="picpre">
        <img id="preview_img" src="#"  width="300" height="225" alt="preview"/>
    </pre>
    <pre>
        <span id="result"></span>
    </pre>

    <input type="submit" value="Submit" id="btnSubmit" onclick="myFunction()"/>
<!--    <input type="button" onclick="displayFunction()" value="clear">-->
</form>
</div>


<!-- /#wrapper -->

<!-- jQuery -->
<script th:src="@{/vendor/jquery/jquery.min.js}" src="../static/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}" src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"  src="../static/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script th:src="@{/dist/js/sb-admin-2.js}" src="../static/dist/js/sb-admin-2.js"></script>


</body>
</html>